In [135]:
from covid.api import CovId19Data
import pandas as pd
api = CovId19Data(force=True)
from fbprophet import Prophet
from matplotlib import pyplot as plt
res = api.get_history_by_country('Argentina')
from pivottablejs import pivot_ui
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

DEBUG:root:File already exists
DEBUG:root:Force download new data
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv HTTP/1.1" 200 19840
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv HTTP/1.1" 200 12570
DEBUG:urllib3.connectionpool:Starting new HTTPS connection (1): raw.githubusercontent.com:443
DEBUG:urllib3.connectionpool:https://raw.githubusercontent.com:443 "GET /CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv HTTP/1.1" 200 14849

In [149]:
#api.__dict__

In [150]:
covid19_recovered = pd.read_csv("~/.local/lib/python3.6/site-packages/covid/data/time_series_19-covid-Recovered.csv")
covid19_death = pd.read_csv("~/.local/lib/python3.6/site-packages/covid/data/time_series_19-covid-Deaths.csv")
covid19_infected = pd.read_csv("~/.local/lib/python3.6/site-packages/covid/data/time_series_19-covid-Confirmed.csv")

In [151]:
covid19_infected=covid19_infected.melt(id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
        var_name="Date", 
        value_name="Value")
covid19_infected['state'] = "infected"

covid19_death=covid19_death.melt(id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
        var_name="Date", 
        value_name="Value")
covid19_death['state'] = "death"
covid19_recovered=covid19_recovered.melt(id_vars=["Province/State", "Country/Region", "Lat", "Long"], 
        var_name="Date", 
        value_name="Value")
covid19_recovered['state'] = "recovered"

In [152]:
covid19_recovered.head()

  Province/State Country/Region      Lat      Long     Date  Value      state
0            NaN       Thailand  15.0000  101.0000  1/22/20    0.0  recovered
1            NaN          Japan  36.0000  138.0000  1/22/20    0.0  recovered
2            NaN      Singapore   1.2833  103.8333  1/22/20    0.0  recovered
3            NaN          Nepal  28.1667   84.2500  1/22/20    0.0  recovered
4            NaN       Malaysia   2.5000  112.5000  1/22/20    0.0  recovered

In [153]:
covid19=pd.concat([covid19_infected, covid19_death, covid19_recovered], ignore_index=True)

In [154]:
covid19['Date'] = pd.to_datetime(covid19['Date'])
covid19.head()

  Province/State Country/Region      Lat      Long       Date  Value     state
0            NaN       Thailand  15.0000  101.0000 2020-01-22    2.0  infected
1            NaN          Japan  36.0000  138.0000 2020-01-22    2.0  infected
2            NaN      Singapore   1.2833  103.8333 2020-01-22    0.0  infected
3            NaN          Nepal  28.1667   84.2500 2020-01-22    0.0  infected
4            NaN       Malaysia   2.5000  112.5000 2020-01-22    0.0  infected

In [155]:
covid19_China=covid19[(covid19['Country/Region']=='China') & (covid19['state']=='infected')] #here you can select Country and state (infected, death or recovered)
covid19_Italia=covid19[(covid19['Country/Region']=='Italy') & (covid19['state']=='infected')]
covid19_España=covid19[(covid19['Country/Region']=='Spain') & (covid19['state']=='infected')]
covid19_Argentina=covid19[(covid19['Country/Region']=='Argentina') & (covid19['state']=='infected')]

In [167]:
import plotly.graph_objects as go

# Create random data with numpy
import numpy as np
fig = go.Figure()
# Add traces
x0=covid19_China['Date']
y0=covid19_China['Value']
x1=covid19_Italia['Date']
y1=covid19_Italia['Value']
x2=covid19_España['Date']
y2=covid19_España['Value']
x3=covid19_Argentina['Date']
y3=covid19_Argentina['Value']
fig.add_trace(go.Scatter(x=x0, y=y0,
                    mode='markers',
                    name='China'))
fig.add_trace(go.Scatter(x=x1, y=y1,
                    mode='lines+markers',
                    name='Italia'))
fig.add_trace(go.Scatter(x=x2, y=y2,
                    mode='lines+markers',
                    name='España'))
fig.add_trace(go.Scatter(x=x3, y=y3,
                    mode='lines+markers',
                    name='Argetina'))
fig.update_layout(
    title="Timeline of the cases",
    xaxis_title="Date",
    yaxis_title="Infected",
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

plot(fig,filename='covid19_Infected.html')
#fig.show()

'covid19_Infected.html'

In [156]:
import plotly.graph_objects as go

# Create random data with numpy
import numpy as np
fig = go.Figure()
# Add traces
x0=covid19_China['Date']
y0=covid19_China['Value']
x1=covid19_Italia['Date']+pd.Timedelta(days=-36)
y1=covid19_Italia['Value']
x2=covid19_España['Date']+pd.Timedelta(days=-43)
y2=covid19_España['Value']
x3=covid19_Argentina['Date']+pd.Timedelta(days=-60)
y3=covid19_Argentina['Value']
fig.add_trace(go.Scatter(x=x0, y=y0,
                    mode='markers',
                    name='China'))
fig.add_trace(go.Scatter(x=x1, y=y1,
                    mode='lines+markers',
                    name='Italia'))
fig.add_trace(go.Scatter(x=x2, y=y2,
                    mode='lines+markers',
                    name='España'))
fig.add_trace(go.Scatter(x=x3, y=y3,
                    mode='lines+markers',
                    name='Argetina'))
fig.update_layout(
    title="Overlaped cases",
    xaxis_title="Date, based on chine first case",
    yaxis_title="infeted",
    font=dict(
        family="Courier New, monospace",
        size=18,
        color="#7f7f7f"
    )
)

plot(fig,filename='covid19_infected_overlaped.html')
#fig.show()

'covid19_infected_overlaped.html'